@import url('https://fonts.googleapis.com/css2?family=MuseoModerno&family=Quicksand&family=Roboto&display=swap');

* {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}

body {
    background-color: var(--background);
    color: var(--text-color);
    overflow-x: hidden;
    overflow-y: hidden;
}

#main_grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    height: 100vh;
    width: 100vw;
    grid-gap: 10px;
    overflow-x: hidden;
    overflow-y: hidden;
}

#nav_bar {
    grid-row: 1;
    grid-column: 1;
    background-color: var(--primary);
    height: 100vh;
    width: 5vw;
    text-align: center;
}

#nav_logo {
    width: 4vw;
    margin-top: .5vw;
    border-radius: 11.52px;
}

#nav_bar button:not(#nav_home) {
    color: var(--text-color);
    margin-top: 1vh;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    transition: .5s;
}

#nav_home {
    color: var(--text-color);
    margin-top: 1vh;
    background-color: var(--selected-primary);
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

#nav_bar span {
    font-size: 1.7vw;
}

#nav_bar p {
    font-size: .8vw;
    text-align: center;
}

#nav_lower {
    position: absolute;
    bottom: 1vh;
    width: 5vw;
}

#nav_bar button:not(#nav_plan):hover {
    background-color: var(--selected-primary);
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    transition: .5s;
}

#nav_bar button#nav_plan:hover {
    background-color: var(--selected-primary);
    border-radius: 5px;
    transition: .5s;
}

#page_content {
    background-color: transparent;
    height: 100vh;
    width: 95vw;
    position: absolute;
    top: 0;
    right: 0;
    display: grid;
}

#subject_select {
    padding: 10px;
    font-size: 1.7vw;
    position: absolute;
    top: 3vw;
    right: 10vw;
    width: 10vw;
    border-radius: 6px;
    border: 2px solid var(--primary);
    outline: none;
    background-color: var(--alt-primary);
    color: var(--text-color);
    cursor: pointer;
}

#german {
    width: 95vw;
    height: 100vh;
    display: none;
}

#math {
    width: 95vw;
    height: 100vh;
    display: none;
}

/** Basic Section styling */

.section:not(#vocab_section, #grammarchecker_section) {
    height: 37.5%;
}

#vocab_section {
    height: 12.5%;
}

#grammarchecker_section {
    height: 12.5%;
}

/** English-Vocabulary */

#vocab_section {
    background-color: transparent;
}

#vocab_section h2 {
    font-size: 1.6vw;
    margin-left: 2vw;
    margin-top: 1vw;
}

#vocabopen {
    background-color: var(--secondary);
    font-size: 1.5vw;
    padding: 10px;
    margin-top: .7vw;
    position: absolute;
    left: 2vw;
    border-radius: 6px;
    border: none;
    outline: none;
    cursor: pointer;
    color: var(--text-color);
    transition: .5s;
}

#vocabopen:hover {
    background-color: var(--selected-secondary);
    transition: .5s;
}

#close_vocab {
    background-color: transparent;
    width: 3vw;
    height: 3vw;
    border-radius: 50px;
    color: var(--text-color);
    border: none;
    outline: none;
    position: absolute;
    right: 2vw;
    top: 2vw;
    cursor: pointer;
    transition: .5s;
}

#close_vocab span {
    font-size: 1.7vw;
    transform: translateY(5%);
}

#close_vocab:hover {
    background-color: var(--selected-primary);
    transition: .5s;
}

#vocab_popup {
    display: none;
    width: 94vw;
    height: 99vh;
    z-index: 104;
    border-radius: 10px;
    margin-top: .5vh;
    margin-left: .5vw;
    background-color: var(--alt-primary);
    position: absolute;
}

#search_words {
    background-color: transparent;
    height: 20vh;
    display: flex;
}

#search_words_title {
    font-size: 2.3vw;
    margin-top: 1vw;
    margin-left: 2vw;
    height: 2vw;
}

#search_words div {
    align-self: end;
    margin-bottom: 1vw;
    width: 20vw;
    border-radius: 6px;
    background-color: transparent;
    color: var(--text-color);
    padding: 10px;
    padding-right: 5vw;
    outline: none;
    height: 3vw;
    position: fixed;
    left: 7vw;
    z-index: 5;
    display: grid;
}

#search_words_input {
    font-size: 1.7vw;
    justify-self: center;
    margin-left: -.6vw;
    align-self: end;
    margin-bottom: 1vw;
    width: 20vw;
    border-radius: 6px;
    border: 2px solid var(--primary);
    background-color: var(--alt-primary);
    color: var(--text-color);
    padding: 10px;
    padding-right: 5vw;
    outline: none;
    z-index: 8;
}

#search_words_output_display {
    font-size: 1.7vw;
    justify-self: center;
    margin-left: -.6vw;
    align-self: end;
    margin-bottom: -2vw;
    width: 20vw;
    border-radius: 6px;
    border-bottom: 2px solid var(--primary);
    border-right: 2px solid var(--primary);
    border-left: 2px solid var(--primary);
    border-top: none;
    background-color: var(--alt-primary);
    color: var(--text-color);
    padding: 10px;
    padding-right: 5vw;
    outline: none;
    z-index: 6;
    display: none;
    overflow-y: auto;
}

#search_words_output_display::-webkit-scrollbar {
    width: 5px;
}

#search_words_output_display::-webkit-scrollbar-track {
    background: transparent;
}

#search_words_output_display::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 50px;
    width: 5px;;
}

#search_words_output_display::-webkit-scrollbar-thumb:hover {
    background: #555;
}

#search_words_search {
    align-items: center;
    position: fixed;
    left: 29.5vw;
    margin-top: .25vw;
    width: 3vw;
    height: 3vw;
    border-radius: 50px;
    border: none;
    background-color: transparent;
    color: var(--text-color);
    padding: 10px;
    outline: none;
    cursor: pointer;
    transition: .5s;
    z-index: 10;
    padding-left: 10px;
    padding-right: 10px;
}

#search_words_search span {
    font-size: 1.7vw;
    transition: .5s;
}

#search_words_search:hover {
    background-color: #2f2f2f5d;
    transition: .5s;
}

#add_words {
    background-color: transparent;
    height: 20vh;
    width: 100%;
    display: flex;
}

#add_words_title {
    font-size: 2.3vw;
    margin-top: 1vw;
    margin-left: 2vw;
    height: 2vw;
}

#add_words_german_input {
    font-size: 1.7vw;
    grid-column: 1;
    grid-row: 1;
    position: fixed;
    left: 7vw;
    align-self: end;
    margin-bottom: 1vw;
    width: 20vw;
    height: 2.5vw;
    border-radius: 6px;
    border: 2px solid var(--primary);
    background-color: var(--alt-primary);
    color: var(--text-color);
    padding: 10px;
    outline: none;
    z-index: 5;
}

#add_words_english_input {
    font-size: 1.7vw;
    grid-column: 1;
    grid-row: 1;
    position: fixed;
    left: 29vw;
    align-self: end;
    margin-bottom: 1vw;
    width: 20vw;
    height: 2.5vw;
    border-radius: 6px;
    border: 2px solid var(--primary);
    background-color: var(--alt-primary);
    color: var(--text-color);
    padding: 10px;
    outline: none;
}

#add_words_add {
    background-color: var(--secondary);
    font-size: 1.7vw;
    padding: 10px;
    padding-bottom: 14px;
    padding-top: 15px;
    margin-bottom: 1vw;
    position: fixed;
    left: 51vw;
    align-self: end;
    border-radius: 6px;
    border: none;
    outline: none;
    cursor: pointer;
    color: var(--text-color);
    transition: .5s;
}

#add_words_add:hover {
    background-color: var(--selected-secondary);
    transition: .5s;
}

#delete_words {
    background-color: transparent;
    height: 20vh;
    display: flex;
}

#delete_words_title {
    font-size: 2.3vw;
    margin-top: 1vw;
    margin-left: 2vw;
    height: 2vw;
}

#delete_words_select {
    padding: 10px;
    font-size: 1.7vw;
    margin-bottom: 1vw;
    position: fixed;
    left: 7vw;
    align-self: end;
    width: 25vw;
    border-radius: 6px;
    border: 2px solid var(--primary);
    outline: none;
    background-color: var(--alt-primary);
    color: var(--text-color);
    cursor: pointer;
}

#delete_words_delete {
    background-color: var(--secondary);
    font-size: 1.7vw;
    padding: 10px;
    padding-bottom: 14px;
    margin-bottom: 1vw;
    position: fixed;
    left: 32.8vw;
    justify-self: start;
    align-self: end;
    border-radius: 6px;
    border: none;
    outline: none;
    cursor: pointer;
    color: var(--text-color);
    transition: .5s;
}

#delete_words_delete:hover {
    background-color: var(--selected-secondary);
    transition: .5s;
}

#your_words {
    background-color: transparent;
    height: 40vh;
    display: flex;
}

#your_words_title {
    font-size: 2.3vw;
    margin-top: 1vw;
    margin-left: 2vw;
    height: 2vw;
}

#your_words_list {
    resize: none;
    justify-self: start;
    align-self: end;
    margin-bottom: 2vw;
    position: fixed;
    left: 7vw;
    width: 20vw;
    height: 14vw;
    outline: none;
    border-radius: 5px;
    border: 2px solid var(--primary);
    background-color: var(--alt-primary);
    color: var(--text-color);
    text-align: center;
    font-size: 1.7vw;
}

#your_words_list::-webkit-scrollbar {
    width: 5px;
}

#your_words_list::-webkit-scrollbar-track {
    background: transparent;
}

#your_words_list::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 50px;
    width: 5px;;
}

#your_words_list::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/** Grammar checker styling */

#grammarchecker_section h2 {
    font-size: 1.6vw;
    margin-left: 2vw;
    margin-top: 1vw;
}

#grammarchecker {
    background-color: var(--secondary);
    font-size: 1.5vw;
    padding: 10px;
    margin-top: .7vw;
    position: absolute;
    left: 2vw;
    border-radius: 6px;
    border: none;
    outline: none;
    cursor: pointer;
    color: var(--text-color);
    transition: .5s;
}

#grammarchecker:hover {
    background-color: var(--selected-secondary);
    transition: .5s;
}

/** Video feed styling */

/** Video Styling */

#video-container {
    display: flex;
    background-color: transparent;
    align-items: start;
    margin-top: 3vw;
    transition: .5s;
}

.video:link {
    margin-top: .8vw;
    margin-left: 2vw;
    width: min-content;
    cursor: pointer;
    border-radius: 6px;
    transition: .5s;
    padding-left: .5vw;
    padding-right: .5vw;
    padding-top: .25vw;
    padding-bottom: .25vw;
    text-decoration: none;
}

.thumbnail {
    border-radius: 6px;
    height: auto;
}

.vid_title {
    width: 16.8vw;
    height: auto;
    color: var(--text-color);
    text-align: center;
}

.video:hover {
    background-color: var(--selected-primary);
    border-radius: 10px;
    transition: .5s;
}

/** Video section */

#youtube_feed_section h2 {
    font-size: 1.6vw;
    margin-left: 4.5vw;
    margin-top: 1vw;
}

#scroll-bar_start {
    position: absolute;
    top: 16vw;
    width: 2.5vw;
    height: 34%;
    background-color: var(--background);
    overflow: hidden;
    box-shadow: 20px 0px 20px 2px var(--background);
    z-index: 100;
}

#scroll-bar_end {
    position: absolute;
    top: 17vw;
    right: 0;
    width: 2.5vw;
    height: 34%;
    background-color: var(--background);
    overflow: hidden;
    box-shadow: -20px 0px 20px 2px var(--background);
    z-index: 100;
}

#scroll-bar {
    background-color: transparent;
    height: 87%;
    width: 93vw;
    margin-left: 2vw;
    display: flex;
    align-items: center;
    overflow-x: hidden;
    overflow-y: hidden;
    white-space: nowrap;
    z-index: 99;
    position: relative; 
}

.navigator {
    background-color: #4545455e;
    color: var(--text-color);
    border-radius: 50px;
    width: 3vw;
    height: 3vw;
    border: none;
    outline: none;
    cursor: pointer;
    transition: .5s;
    position: absolute;
    z-index: 101;
}

#navigator-left {
    left: 1vw;
}

#navigator-right {
    right: 3vw;
}

#navigator-left span {
    font-size: 1.7vw;
    transform: translate(-5%, 5%);
}

#navigator-right span {
    font-size: 1.7vw;
    transform: translate(4%, 5%);
}

.navigator:hover {
    background-color: var(--selected-primary);
    transition: .5s;
}

/** Exercise History styling */

#exercise_history_section h2 {
    font-size: 1.6vw;
    margin-left: 2vw;
    margin-top: 1vw;
}

 /** Other options styling */

#sepperator {
   background-color: var(--primary); 
   height: .2vh;
   width: 90vw;
   margin-left: 2vw;
}

#user {
    position: absolute;
    top: 2vw;
    right: 2vw;
    width: 5vw;
    height: 5vw;
    border-radius: 50%;
    border: 5px solid var(--secondary);
    box-shadow: 1px 8px 19px -8px rgba(255,255,255,0.23);
    cursor: pointer;
}

#user_options {
    background-color: var(--primary);
    position: absolute;
    top: 8vw;
    right: 3vw;
    width: 3.5vw;
    height: 7vw;
    border-radius: 50px;
    display: none;
}

#feedback_user_options {
    margin-left: .25vw;
    margin-top: .25vw;
    border-radius: 50%;
    width: 3vw;
    height: 3vw;
    cursor: pointer;
    background-color: transparent;
    transition: .5s;
    color: var(--text-color);
    border: none;
    outline: none;
}

#feedback_user_options span {
    font-size: 2vw;
}

#feedback_user_options:hover {
    background-color: #1c1c1ca1;
    transition: .5s;
}

#settings_user_options {
    margin-left: .25vw;
    margin-top: .5vw;
    width: 3vw;
    height: 3vw;
    border-radius: 50%;
    cursor: pointer;
    background-color: transparent;
    transition: .5s;
    color: var(--text-color);
    border: none;
    outline: none;
}

#settings_user_options span {
    font-size: 2vw;
}

#settings_user_options:hover {
    background-color: #1c1c1ca1;
    transition: .5s;
}

#share {
    position: absolute;
    bottom: 2vw;
    right: 2vw;
    width: 4vw;
    height: 4vw;
    border-radius: 50%;
    border: none;
    background-color: var(--secondary);
    color: var(--text-color);
    cursor: pointer;
    transition: .5s;
}

#share span {
    font-size: 1.7vw;
    transition: .5s;
}

#share:hover {
    background-color: var(--selected-secondary);
    transition: .5s;
}

#share:hover span {
    font-size: 2vw;
    transition: .5s;
}