.user-prev {
    background-color: var(--primary);
    width: 20%;
    height: 10%;
    justify-self: end;
    position: absolute;
    margin-right: 7%;
    bottom: 2%;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
    transition: .5s;
}

.user-prev:hover {
    background-color: var(--selected-primary);
}

.profile-pic {
    width: 4vw;
    height: 4vw;
    border-radius: 5px;
    margin-left: 3%;
}

.user-info {
    margin-left: 5%;
}

.user-options {
    position: absolute;
    justify-self: end;
    margin-right: 7%;
    bottom: 13%;
    width: 20%;
    height: max-content;
    padding: 10px;
    background-color: var(--primary);
    border-radius: 5px;
    display: none;
    flex-direction: column;
    align-items: flex-start;
}

.user-options-buttons p {
    display: inline;
    margin-left: 2%;
}

.feedback {
    font-size: 1.4vw;
    margin-bottom: 3%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.feedback:hover {
    border-radius: 50px;
}

.settings {
    font-size: 1.4vw;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.settings:hover {
    border-radius: 50px;
}

.role-div {
    height: 100vh;
    width: 95vw;
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}

.section {
    height: 33vh;
}

.section-title {
    font-size: 1.7vw;
    margin-left: 2vw;
    margin-top: 3vh;
}

.close {
    width: 3vw;
    height: 3vw;
    border-radius: 50%;
    border: none;
    outline: none;
    color: var(--text-color);
    background: transparent;
    position: absolute;
    right: 1%;
    cursor: pointer;
    transition: .5s;
}

.close span {
    font-size: 1.5vw;
    transform: translateY(10%);
}

.close:hover {
    color: var(--warning);
    background-color: var(--alt-primary);
    transition: .5s;
}

/** Teacher features styling */

.manage-students-container {
    background-color: var(--primary);
    width: 30%;
    height: 35%;
    border-radius: 6px;
    margin-top: 2%;
    margin-left: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.manage-students-title {
    font-size: 1.7vw;
    margin-top: 2%;
    text-align: center;
    color: var(--text-color);
}

.manage-students-list {
    margin-top: 2%;
    width: 90%;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-students {
    font-size: 1.4vw;
    width: 100%;
    border: none;
    height: max-content;
}

.students-list {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.students-list::-webkit-scrollbar {
    width: 5px;
}

.students-list::-webkit-scrollbar-track {
    background: transparent;
}

.students-list::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 50px;
    width: 5px;;
}

.students-list::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.student-list-button {
    margin-top: 2%;
    width: 90%;
    text-align: start;
    padding: 10px;
    font-size: 1.2vw;
    background: transparent;
    border-radius: 6px;
    border: none;
    color: var(--text-color);
    cursor: pointer;
    transition: .5s;
}

.student-list-button:hover {
    background-color: var(--selected-primary);
}

.expanded {
    min-height: 13vh;
    background: var(--disabled);
    overflow-x: hidden;
    overflow-y: auto;
}

.expanded::-webkit-scrollbar {
    width: 5px;
}

.expanded::-webkit-scrollbar-track {
    background: transparent;
}

.expanded::-webkit-scrollbar-thumb {
    background: #5c5c5c;
    border-radius: 50px;
    width: 5px;;
}

.expanded::-webkit-scrollbar-thumb:hover {
    background: #6d6d6d;
}

.update-students {
    font-size: 1.2vw;
    margin-top: 2.5%;
    padding: 2%;
    padding-left: 3%;
    padding-right: 3%;
}

.student-manager-div {
    width: 90vw;
    height: 80vh;
    background-color: var(--alt-primary);
    border-radius: 10px;
    position: absolute;
    z-index: 2;
    top: 0;
    margin-left: 2.5vw;
    margin-top: 10vh;
    display: none;
}

.student-manager-header {
    background-color: var(--secondary);
    width: 100%;
    height: 12%;
    border-radius: 10px 10px 0px 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.student-manager-title
{
    text-align: center;
    font-size: 2vw;
}

.student-manager-student {
    margin-left: 5%
}

.main-body {
    white-space: nowrap;
    width: 100%;
    height: 88%;
    overflow-x: auto;
    overflow-y: hidden;
}

.grade {
    display: inline-block;
    box-sizing: border-box;
    position: relative;
    height: 100%;
    width: 24.7%;
    border-left: 2px solid var(--disabled);
    overflow-x: hidden;
    overflow-y: auto;
}

.grade > * {
    display: block;
}

.grade::-webkit-scrollbar {
    width: 0;
}

.grade::-webkit-scrollbar-thumb {
    background-color: transparent;
}

.end-grade {
    border-right: 2px solid var(--disabled);
}

.main-body::-webkit-scrollbar {
    height: 8px;
}

.main-body::-webkit-scrollbar-track {
    background: transparent;
}

.main-body::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 50px;
    height: 8px;
}

.main-body::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.grade-title {
    font-size: 1.5vw;
    margin-top: 2%;
    text-align: center;
}

.add-student {
    margin-top: 2%;
    margin-left: 5%;
    width: 90%;
    text-align: start;
    padding: 10px;
    font-size: 1.2vw;
    background: transparent;
    border-radius: 6px;
    border: none;
    color: var(--text-color);
    cursor: pointer;
    transition: .5s;
    display: inline-flex;
    align-items: center;
}

.add-student p {
    margin-left: 2%;
}

.add-student:hover {
    background-color: var(--disabled);
}

.add-student-win {
    background-color: var(--primary);
    width: 30%;
    height: 20%;
    border-radius: 5px;
    z-index: 4;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.add-student-win-header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.add-student-win-header h3 {
    font-size: 1.7vw;
    text-align: center;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 2%;
}

.close-add-student {
    width: 3vw;
    height: 3vw;
    border-radius: 50%;
    border: none;
    outline: none;
    color: var(--text-color);
    background: transparent;
    position: absolute;
    right: 1%;
    top: 3%;
    cursor: pointer;
    transition: .5s;
}

.close-add-student span {
    font-size: 1.5vw;
    transform: translateY(10%);
}

.close-add-student:hover {
    color: var(--warning);
    background-color: var(--alt-primary);
    transition: .5s;
}

.student-info {
    margin-top: 2%;
}

.student-name {
    width: 15vw;
    margin-left: 12%;
}

.student-grade {
    width: 5vw;
    margin-left: .5%;
}

.submit {
    font-size: 1.5vw;
    margin-left: 50%;
    margin-top: 2%;
    transform: translateX(-50%);
}

.edit-student-win {
    width: 30%;
    height: 34%;
    background-color: var(--primary);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    z-index: 4;
    display: none;
}

.edit-student-win-header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.edit-student-win-header h3 {
    font-size: 1.7vw;
    text-align: center;
    margin-left: 48%;
    transform: translateX(-50%);
    margin-top: 2%;
    width: max-content;
}

.close-edit-student {
    width: 3vw;
    height: 3vw;
    border-radius: 50%;
    border: none;
    outline: none;
    color: var(--text-color);
    background: transparent;
    position: absolute;
    right: 1%;
    top: 3%;
    cursor: pointer;
    transition: .5s;
}

.close-edit-student span {
    font-size: 1.5vw;
    transform: translateY(10%);
}

.close-edit-student:hover {
    color: var(--warning);
    background-color: var(--alt-primary);
    transition: .5s;
}

.label {
    font-size: 1.5vw;
}

.row_1 {
    display: flex;
    width: 100%;
    height: max-content;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 1%;
}

.row_2 {
    display: flex;
    width: 100%;
    height: max-content;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 1%;
}

.name-edit {
    margin-left: 11.5%;
}

.student-name-edit {
    width: 15vw;
    margin-left: 11%;
}

.grade-edit {
    margin-left: 39%;
}

.student-grade-edit {
    width: 4.9vw;
    margin-left: 1%;
}

.year {
    margin-left: 11.5%;
    margin-top: 1%;
}

.student-grad-year-edit {
    width: 10vw;
    margin-left: 11%;
    margin-top: 1%;
}

.edit {
    font-size: 1.5vw;
    margin-left: 50%;
    margin-top: 2%;
    transform: translateX(-50%);
}

.delete-student {
    font-size: 1.3vw;
    padding: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
    background: transparent;
    border: 2px solid var(--warning);
    margin-left: 5%;
    transition: color .5s linear;
    position: relative;
    z-index: 1;
}

.delete-student::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--warning);
    z-index: -1;
    transition: transform 1s;
    transform-origin: 0 0;
    transform: scaleX(0);
}

.delete-student:hover::before {
    transform: scaleX(1);
    transition: transform 1s;
}

.delete-student-warning {
    background-color: var(--primary);
    width: 20%;
    height: 15%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    display: none;
    z-index: 4;
}

.delete-student-warning h3 {
    font-size: 1.7vw;
    text-align: center;
    margin-top: 2%;
}

.warning-cancel {
    font-size: 1.4vw;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 7%;
    position: absolute;
    left: 10%;
}

.warning-delete {
    background-color: var(--secondary);
    font-size: 1.4vw;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 7%;
    position: absolute;
    right: 10%;
    border-radius: 6px;
    cursor: pointer;
    transition: .5s;
    color: var(--text-color);
    border: none;
    outline: none;
}

.warning-delete:hover {
    background-color: var(--warning);
}

.assignment-manager-div {
    position: absolute;
    margin-left: 2%;
    margin-top: 1%;
    width: 30%;
    height: 56%;
    background-color: var(--primary);
    border-radius: 6px;
}

.assignment-manager-div h3 {
    font-size: 1.6vw;
    text-align: center;
    margin-top: 2%;
}

.add-assignment-open {
    position: absolute;
    top: 1%;
    right: 1%;
}

.add-assignment-open span {
    transform: translateY(5%) !important;
}

.assignment-container {
    width: 100%;
    height: 88%;
    margin-top: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.assignment-container::-webkit-scrollbar {
    width: 5px;
}

.assignment-container::-webkit-scrollbar-track {
    background: transparent;
}

.assignment-container::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 50px;
    width: 5px;;
}

.assignment-container::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.assignment {
    font-size: 1.2vw;
    width: 90%;
    text-align: start;
    padding: 2%;
    border: none;
    border-radius: 6px;
    outline: none;
    background: transparent;
    color: var(--text-color);
    cursor: pointer;
    transition: .5s;
    margin-top: 1%;
}

.assignment:hover {
    background-color: var(--selected-primary);
}

.assignment p {
    font-size: 1vw;
    text-align: start;
    width: 95%;
    margin-left: .2%;
}

.delete-assignment {
    font-size: 1.1vw;
    padding: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
    background: transparent;
    border: 2px solid var(--warning);
    margin-left: 5%;
    transition: color .5s linear;
    position: relative;
    z-index: 1;
}

.delete-assignment::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--warning);
    z-index: -1;
    transition: transform 1s;
    transform-origin: 0 0;
    transform: scaleX(0);
}

.delete-assignment:hover::before {
    transform: scaleX(1);
    transition: transform 1s;
}

.add-assignment-win {
    position: absolute;
    z-index: 6;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: var(--primary);
    width: 35%;
    height: 60%;
    display: none;
    flex-direction: column;
    align-items: center;
    border-radius: 6px;
}

.add-assignment-win h3 {
    font-size: 1.7vw;
    margin-top: 2%;
}

.close-assignment-win {
    top: 1.3%;
}

.chip-img {
    width: 1.5vw;
    border-radius: 50%;
}

.chip-name {
    display: inline;
    margin-left: 3%;
    width: 110%;
}

.chip-span {
    transform: translateY(1%);
    margin-left: 2%;
    background: var(--message-other);
    border-radius: 50px;
    padding: 2%;
    font-size: 1.2vw !important;
    transition: .5s;
}

.chip-select {
    min-width: 45%;
    width: max-content;
    height: 40%;
    font-size: 1vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 50px;
    background: var(--selected-primary);
    border: none;
    outline: none;
    color: var(--text-color);
    cursor: pointer;
    transition: .5s;
    padding-right: 3%;
    margin-top: 1%;
    margin-left: 50%;
    transform: translateX(-50%);
}

.chip-select:hover {
    background: var(--selected-secondary);
}

.chip-account {
    min-width: 50%;
    width: max-content;
    height: 100%;
    font-size: 1vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 50px;
    background: var(--selected-primary);
    border: none;
    outline: none;
    color: var(--text-color);
    cursor: pointer;
    transition: .5s;
    padding: 1%;
    padding-right: 1.2%;
    margin-left: 1%;
}

.chip-account:hover {
    background: var(--selected-secondary);
}

.chip-account:hover .chip-span {
    background: transparent;
}

.input-assignment-title {
    margin-top: 2%;
    width: 50%;
    border: none;
    padding-left: 2%;
    padding-right: 2%;
}  

.textarea-assignment {
    resize: none;
    width: 60%;
    height: 40%;
    margin-top: 2%;
    border: none;
    outline: none;
    border-radius: 6px;
    background: var(--alt-primary);
    color: var(--text-color);
    font-size: 1vw;
    padding: 2%;
}

.input-dueDate {
    font-size: 1.2vw;
    background: var(--alt-primary);
    border: none;
    outline: none;
    color: var(--text-color);
    margin-top: 1%;
    border-radius: 6px;
    padding: 2%;
    cursor: pointer;
    text-align: center;
}

.due-date-assignment {
    font-size: 1.5vw;
    width: 42%;
    padding-left: 2%;
    padding-right: 2%;
    margin-top: 2%;
    text-align: center;
}

.flatpickr-calendar {
    background: var(--alt-primary) !important;
    margin-top: .5% !important;
}

.flatpickr-current-month {
    color: var(--text-color) !important;
}

.numInput {
    color: var(--text-color) !important;
}

.arrowUp .arrowDown {
    color: var(--text-color) !important;
}

.flatpickr-weekday {
    color: var(--text-color) !important;
}

.flatpickr-day {
    color: var(--text-color) !important;
}

.flatpickr-disabled {
    color: var(--disabled) !important;
}

.flatpickr-next-month svg {
    fill: var(--text-color) !important;
}

.flatpickr-prev-month svg {
    fill: var(--text-color) !important;
}

.flatpickr-calendar:before, .flatpickr-calendar:after {
    position: absolute;
    display: none !important;
    pointer-events: none;
    border: solid transparent;
    content: '';
    height: 0;
    width: 0;
    left: 22px;
}

.flatpickr-monthDropdown-month {
    background-color: var(--alt-primary) !important;
}

.flatpickr-day.inRange, 
.flatpickr-day.prevMonthDay.inRange, 
.flatpickr-day.nextMonthDay.inRange, 
.flatpickr-day.today.inRange, 
.flatpickr-day.prevMonthDay.today.inRange, 
.flatpickr-day.nextMonthDay.today.inRange, 
.flatpickr-day:hover, 
.flatpickr-day.prevMonthDay:hover, 
.flatpickr-day.nextMonthDay:hover, 
.flatpickr-day:focus, 
.flatpickr-day.prevMonthDay:focus, 
.flatpickr-day.nextMonthDay:focus {
    background: var(--selected-secondary) !important;
    border-color: var(--secondary) !important;
}

.search-wrapper {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2%;
}

.search-students-assignment {
    width: 100%;
    border: none;
}

.search-output {
    width: 50%;
    max-height: 10vh;
    background: var(--alt-primary);
    height: 10vh;
    position: absolute;
    bottom: 2%;
    border-radius: 0px 0px 6px 6px;
    border: none;
    outline: none;
    z-index: 99;
    display: none;
    overflow-y: auto;
    overflow-x: hidden;
    padding-bottom: 1%;
}

.search-output::-webkit-scrollbar {
    width: 5px;
}

.search-output::-webkit-scrollbar-track {
    background: transparent;
}

.search-output::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 50px;
    width: 5px;
}

.search-output::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.student-display {
    max-width: 50%;
    width: 50%;
    height: 7%;
    margin-top: 2%;
    overflow-y: hidden;
    overflow-x: auto;
    display: none;
}

.student-display::-webkit-scrollbar {
    height: 5px;
}

.student-display::-webkit-scrollbar-track {
    background: transparent;
}

.student-display::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 50px;
    height: 5px;
}

.student-display::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.create-assignment {
    margin: 0;
    transform: none;
    margin-top: 4.5%;
}

.remove-assignment-win {
    width: 20%;
    height: 15%;
    background: var(--primary);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 6px;
    display: none;
    z-index: 10;
}

.remove-assignment-win h3 {
    font-size: 1.5vw;
    text-align: center;
    margin-top: 5%;
}

.cancel-delete {
    font-size: 1.3vw;
    padding: 3%;
    margin-top: 5%;
    margin-left: 20%;
}

.delete-warning {
    font-size: 1.3vw;
}

.assignment-error-exists {
    position: absolute;
    top: 2%;
    right: 1%;
    font-size: 1.5vw;
    z-index: 100;
    background: var(--primary);
    padding: 1%;
    border-radius: 6px;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    width: 27.07%;
    border-right: 2px solid var(--secondary);
    transition: .1s;
    opacity: 0;
}

.close-error-message {
    background: transparent;
    color: var(--text-color);
    border: none;
    outline: none;
    cursor: pointer;
    transition: .5s;
    margin-left: 2.5%;
}

.close-error-message span {
    transform: translateY(14%);
    font-size: 1.5vw;
}

.close-error-message:hover {
    color: var(--disabled);
}

.toggle-school-chat {
    border-radius: 50%;
    position: absolute;
    right: 1%;
    bottom: 3%;
    width: 4vw;
    height: 4vw;
}

.toggle-school-chat span {
    font-size: 1.5vw;
    transform: translateY(10%);
}

.switch-role-container {
    width: 100%;
    height: 5%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 2.5%;
}

.selected-role {
    background: var(--secondary) !important;
}

.switch-role {
    font-size: 1.3vw;
    margin: .2%;
    border: none;
    outline: none;
    cursor: pointer;
    transition: .5s;
    color: var(--text-color);
    background: var(--message-other);
}

.switch-role-student {
    padding: 1%;
    padding-left: 3%;
    padding-right: 2%;
    border-radius: 50px 10px 10px 50px;
}

.switch-role-teacher {
    padding: 1%;
    padding-right: 3%;
    padding-left: 2%;
    border-radius: 10px 50px 50px 10px;
}

.search-contacts-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 2%;
}

.search-contacts {
    width: 80%;
    padding-left: 2%;
    padding-right: 2%;
    border-radius: 10px;
    height: 2.5vw;
    transition: .5s;
}

.start-search-contacts {
    height: 2.3vw;
    border: none;
    outline: none;
    width: 1%;
    padding-right: 2.5%;
    padding-left: .5%;
    border-radius: 10px 50px 50px 10px;
    background: var(--alt-primary);
    color: var(--text-color);
    margin-left: 17.5%;
    cursor: pointer;
    transition: .5s;
    opacity: 0;
    position: absolute;
}

.contacts-container-school {
    height: 100%;
    background: transparent;
    width: 30%;
    border-right: 2px solid var(--disabled);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    overflow-y: hidden;
}

.contacts-container-school h3 {
    font-size: 1.7vw;
    margin-top: 2%;
    border-bottom: 2px solid var(--disabled);
    width: 100%;
    text-align: center;
    padding-bottom: 2%;
}

.contacts-school {
    width: 100%;
    height: 100%;
    margin-top: 1%;
    overflow-y: auto;
}

.contacts-school::-webkit-scrollbar {
    width: 5px;
}

.contacts-school::-webkit-scrollbar-track {
    background: transparent;
}

.contacts-school::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 50px;
    width: 5px;;
}

.contacts-school::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/** Developer features styling */

.schools-container {
    background-color: var(--primary);
    width: 30%;
    border-radius: 6px;
    margin-top: 1%;
    margin-left: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.schools-title {
    font-size: 1.7vw;
    margin-top: 2%;
    text-align: center;
    color: var(--text-color);
}

.schools-list {
    height: 50%;
    width: 90%;
    margin-top: 2%;
    overflow-y: auto;
    overflow-x: hidden;
}

.schools-list::-webkit-scrollbar {
    width: 5px;
}

.schools-list::-webkit-scrollbar-track {
    background: transparent;
}

.schools-list::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 50px;
    width: 5px;;
}

.schools-list::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.options-div {
    width: 50%;
    height: 30%;
    margin-top: 1%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
}

.add {
    background-color: transparent;
    width: 3vw;
    height: 3vw;
    border: none;
    outline: none;
    border-radius: 50%;
    color: var(--text-color);
    cursor: pointer;
    transition: .2s;
}

.add span {
    transform: translateY(10%);
    font-size: 1.5vw;
}

.add:hover {
    background-color: var(--alt-primary);
    color: var(--secondary);
    transition: .2s;
}

.delete {
    background-color: transparent;
    width: 3vw;
    height: 3vw;
    border: none;
    outline: none;
    border-radius: 50%;
    color: var(--text-color);
    cursor: pointer;
    transition: .2s;
}

.delete span {
    transform: translateY(10%);
    font-size: 1.5vw;
}

.delete:hover {
    background-color: var(--alt-primary);
    color: var(--warning);
    transition: .2s;
}

.add-school-container {
    background-color: var(--primary);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    height: 30%;
    border-radius: 6px;
    z-index: 2;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.add-school-title {
    font-size: 1.7vw;
    text-align: center;
}

.delete-school-container {
    background-color: var(--primary);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    height: 20%;
    border-radius: 6px;
    z-index: 2;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.delete-school-title {
    font-size: 1.7vw;
    text-align: center;
}

.school-name {
    padding: 10px;
    width: 20vw;
    font-size: 1.6vw;
    height: max-content;
}

.delete-school {
    margin-left: 2%;
}

.cancel-school {
    margin-right: 2%;
}

.delete-school-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.get-school-data {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.get-school-data span {
    font-size: 1.5vw;
}

.school-list-item {
    font-size: 1.5vw;
    margin: 2%;
    cursor: default;
}

.toggle-console {
    width: 4vw;
    height: 4vw;
    position: absolute;
    right: 1%;
    top: 2%;
    background-color: var(--secondary);
    cursor: pointer;
    border: none;
    border-radius: 50px;
    outline: none;
    transition: .5s;
    color: var(--text-color);
    z-index: 1;
}

.toggle-console span {
    font-size: 2vw;
    transform: translate(-1%,5%);
}

.toggle-console:hover {
    background-color: var(--selected-secondary);
}

.toggle-console-teacher {
    display: none;
}

.toggle-console-student {
    display: none;
}

.dev-console {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 3;
    overflow-x: hidden;
    overflow-y: auto;
    width: 45%;
    height: 100%;
    background-color: var(--primary);
    display: none;
    flex-direction: column;
    align-items: center;
    transition: .5s;
    border-left: 1px solid var(--alt-primary);
}

.dev-console-student {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 3;
    overflow-x: hidden;
    overflow-y: auto;
    width: 45%;
    height: 100%;
    background-color: var(--primary);
    display: none;
    flex-direction: column;
    align-items: center;
    transition: .5s;
    border-left: 1px solid var(--alt-primary);
}

.dev-console-teacher {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 3;
    overflow-x: hidden;
    overflow-y: auto;
    width: 45%;
    height: 100%;
    background-color: var(--primary);
    display: none;
    flex-direction: column;
    align-items: center;
    transition: .5s;
    border-left: 1px solid var(--alt-primary);
}

.command-input {
    position: absolute;
    bottom: 0;
    font-size: 1.5vw;
    width: 100%;
    border: none;
    border-top: 2px solid var(--disabled);
    outline: none;
    background-color: var(--alt-primary);
    color: var(--text-color);
    padding: 10px;
}

.row {
    display: flex;
    width: 95vw;
    height: max-content;
    flex-direction: row;
}

.chart {
    background: var(--primary);
    width: 30%;
    height: 32%;
    border-radius: 5px;
    margin-left: 1%;
    margin-top: 1%;
    padding: 1%;
}

.chart h2 {
    font-size: 1.5vw;
    text-align: center;
} 

.resources {
    height: 61.5vh;
}

.refresh {
    border-radius: 50%;
    position: absolute;
    right: 1%;
    top: 12%;
    width: 4vw;
    height: 4vw;
}

.refresh span {
    font-size: 1.5vw;
    transform: translateY(10%);
}

.dev-list-container {
    width: 30%;
    height: 27%;
    position: absolute;
    left: 32%;
    bottom: 2%;
    background-color: var(--primary);
    border-radius: 5px;
}

.dev-list-title {
    font-size: 1.5vw;
    text-align: center;
    margin-top: 1%;
}

.dev-list {
    width: 100%;
    width: 100%;
    height: 80%;
    margin-top: 2%;
    overflow-x: hidden;
    overflow-y: auto;
}

.dev-list::-webkit-scrollbar {
    width: 5px;
}

.dev-list::-webkit-scrollbar-track {
    background: transparent;
}

.dev-list::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 50px;
    width: 5px;;
}

.dev-list::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.add-dev-open {
    position: absolute;
    top: 1%;
    left: .7%;
}

.add-dev-win {
    position: absolute;
    top: 50%;
    left: 47%;
    width: 30%;
    height: 30%;
    transform: translate(-50%, -50%);
    background-color: var(--primary);
    z-index: 5;
    border-radius: 5px;
    display: none;
    flex-direction: column;
    align-items: center;
}

.close-add-dev {
    top: 2%;
}

.close-add-dev:hover {
    color: var(--text-color);
}

.add-dev-title {
    font-size: 1.7vw;
    text-align: center;
    margin-top: 3%;
}

.add-dev-username {
    width: 60%;
    margin-top: 2%;
}

.add-dev-email {
    width: 60%;
    margin-top: 2%;
}

.add-dev {
    font-size: 1.5vw;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 5%; 
}

.developer-list-item {
    font-size: 1.5vw;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 1%;
    width: 90%;
    margin-left: 5%;
}

.remove-dev {
    font-size: 1vw;
    background: transparent;
    color: var(--text-color);
    border: none;
    outline: none;
    cursor: pointer;
    transition: .5s;
}

.remove-dev:hover {
    text-decoration: underline;
}

.toggle-dev-chat {
    border-radius: 50%;
    position: absolute;
    right: 1%;
    bottom: 3%;
    width: 4vw;
    height: 4vw;
}

.toggle-dev-chat span {
    font-size: 1.5vw;
    transform: translateY(10%);
}

.chat-window {
    width: 90vw;
    height: 90vh;
    position: absolute;
    top: 4vh;
    left: 2.5vw;
    background-color: var(--primary);
    z-index: 5;
    border-radius: 5px;
    display: none;
    flex-direction: row;
    align-items: center;
}

.close-chat-win {
    top: 2%;
}

.close-chat-win:hover {
    color: var(--text-color);
}

.contacts-container {
    height: 100%;
    background: transparent;
    width: 30%;
    border-right: 2px solid var(--disabled);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    overflow-y: auto;
}

.contacts-container::-webkit-scrollbar {
    width: 5px;
}

.contacts-container::-webkit-scrollbar-track {
    background: transparent;
}

.contacts-container::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 50px;
    width: 5px;;
}

.contacts-container::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.contacts-container h3 {
    font-size: 1.7vw;
    margin-top: 2%;
    border-bottom: 2px solid var(--disabled);
    width: 100%;
    text-align: center;
    padding-bottom: 2%;
}

#contacts {
    width: 90%;
    height: 100%;
}

.contact {
    font-size: 1.5vw;
    display: flex;
    align-items: center;
    background: transparent;
    width: 100%;
    border: none;
    outline: none;
    color: var(--text-color);
    cursor: pointer;
    transition: .5s;
    margin-top: 2%;
    padding: 2%;
    border-radius: 5px;
}

.contact:hover {
    background-color: var(--selected-primary);
}

.contact-img {
    width: 3vw;
    border-radius: 5px;
}

.contact-p {
    display: inline-block;
    margin-left: 5%;
}

.chat-container {
    height: 100%;
    width: 70%;
}

.message-container {
    width: 100%;
    height: 94%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    padding-top: 2%;
}

.message-container::-webkit-scrollbar {
    width: 5px;
}

.message-container::-webkit-scrollbar-track {
    background: transparent;
}

.message-container::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 50px;
    width: 5px;;
}

.message-container::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.message-input {
    width: 95.5%;
    border-radius: 0px;
    padding: 6px;
    border: none;
    font-size: 1.5vw;
    height: 2.8vw;
    display: none;
}

.message-you {
    font-size: 1.5vw;
    align-self: flex-end;
    margin-right: 10%;
    margin-bottom: 5%;
    background: var(--message-you);
    width: max-content;
    padding: 10px;
    border-radius: 10px;
    max-width: 30%;
}

.message-contact {
    font-size: 1.5vw;
    margin-left: 2%;
    margin-bottom: 2%;
    background: var(--message-other);
    width: max-content;
    padding: 10px;
    border-radius: 10px;
    max-width: 30%;
}

.send-message {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 2.8vw;
    width: 2.8vw;
    background: var(--alt-primary);
    color: var(--text-color);
    border: none;
    outline: none;
    transition: .5s;
    cursor: pointer;
    border-radius: 0px 0px 5px 0px;
    display: none;
}

.send-message span {
    font-size: 1.5vw;
    transform: translateY(3%);
}

.send-message:hover {
    background-color: #222222;
}