@import url('https://fonts.googleapis.com/css2?family=MuseoModerno&family=Quicksand&family=Roboto&display=swap');

* {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}

body {
    background-color: var(--background);
    color: var(--text-color);
    overflow-x: hidden;
    overflow-y: hidden;
}

#main_grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    height: 100vh;
    width: 100vw;
    grid-gap: 10px;
    overflow-x: hidden;
    overflow-y: hidden;
}

#nav_bar {
    grid-row: 1;
    grid-column: 1;
    background-color: var(--primary);
    height: 100vh;
    width: 5vw;
    text-align: center;
    z-index: 5;
}

#nav_logo {
    width: 4vw;
    margin-top: .5vw;
    border-radius: 11.52px;
}

#nav_bar button:not(#nav_discover) {
    color: var(--text-color);
    margin-top: 1vh;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    transition: .5s;
}

#nav_discover {
    color: var(--text-color);
    margin-top: 1vh;
    background-color: var(--selected-primary);
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

#nav_bar span {
    font-size: xx-large;
}

#nav_bar p {
    font-size: .8vw;
    text-align: center;
}

#nav_lower {
    position: absolute;
    bottom: 1vh;
    width: 5vw;
}

#nav_bar button:not(#nav_plan):hover {
    background-color: var(--selected-primary);
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    transition: .5s;
}

#nav_bar button#nav_plan:hover {
    background-color: var(--selected-primary);
    border-radius: 5px;
    transition: .5s;
}

#page_content {
    background-color: transparent;
    height: 100vh;
    width: 95vw;
    position: absolute;
    top: 0;
    right: 0;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr; /* One column */
    grid-template-rows: 1fr;
}

#page_content::-webkit-scrollbar {
    width: 5px;
}

#page_content::-webkit-scrollbar-track {
    background: transparent;
}

#page_content::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 50px;
    width: 5px;;
}

#page_content::-webkit-scrollbar-thumb:hover {
    background: #555;
}

header {
    background-color: var(--background);
    width: 50%;
    height: 5vw;
    grid-column: 1 / span 1;
    grid-row: 1 / span 1; 
    z-index: 100;
    justify-content: center;
    display: flex;
}

#english_tab {
    font-size: 2vw;
    color: var(--text-color);
    background-color: var(--selected-secondary);
    border: none;
    outline: none;
    padding: 1vw;
    border-radius: 50px;
    cursor: pointer;
    margin-top: .25vw;
    transition: .5s;
}

#english_tab span {
    font-size: 2vw;
    transform: translateY(12%);
}

#english_tab p {
    display: inline;
}

#german_tab {
    font-size: 2vw;
    color: var(--text-color);
    background-color: var(--secondary);
    border: none;
    outline: none;
    padding: 1vw;
    border-radius: 6px;
    cursor: pointer;
    margin-top: .25vw;
    margin-left: 2vw;
    transition: .5s;
}

#german_tab span {
    font-size: 2vw;
    transform: translateY(12%);
}

#german_tab p {
    display: inline;
}

#german_tab:hover {
    border-radius: 50px;
    background-color: var(--selected-secondary);
    transition: .5s;
}

#math_tab {
    font-size: 2vw;
    color: var(--text-color);
    background-color: var(--secondary);
    border: none;
    outline: none;
    padding: 1vw;
    border-radius: 6px;
    cursor: pointer;
    margin-top: .25vw;
    margin-left: 2vw;
    transition: .5s;
}

#math_tab span {
    font-size: 2vw;
    transform: translateY(12%);
}

#math_tab p {
    display: inline;
}

#math_tab:hover {
    border-radius: 50px;
    background-color: var(--selected-secondary);
    transition: .5s;
}

#english {
    width: 95vw;
    height: 95vh;
    display: block;
}

#english_title {
    font-size: 2vw;
    position: relative;
    left: 17%;
    bottom: 1.5vw;
}

#english_header {
    width: 50%;
}

#menu_topics {
    position: relative;
    top: 1.3vw;
    left: 3.7vw;
    width: 3vw;
    height: 3vw;
    border-radius: 50%;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: transparent;
    color: var(--text-color);
    transition: .5s;
    z-index: 100;
}

#menu_topics span {
    font-size: 2vw;
    transform: translateY(5%);
    transition: .5s;
}

#menu_topics:hover {
    background-color: #2f2f2f5d;
    transition: .5s;
}

#menu_topics:hover span {
    color: var(--selected-secondary);
    transition: .5s;
}

#menu_topics_div {
    background-color: var(--primary);
    padding-top: 2.5vw;
    padding-bottom: .4vw;
    border-radius: 50px;
    width: 3vw;
    position: absolute;
    left: 3.7vw;
    top: 6.3vw;
    transition: .5s;
    display: none;
}

#add_topic {
    width: 3vw;
    height: 3vw;
    border-radius: 50%;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: transparent;
    color: var(--text-color);
    transition: .5s;
    display: block;
}

#add_topic span {
    font-size: 2vw;
    transform: translateY(5%);
    transition: .5s;
}

#add_topic:hover {
    background-color: #2f2f2f5d;
    transition: .5s;
}

#add_topic:hover span {
    color: var(--selected-secondary);
    transition: .5s;
}

#delete_topics {
    width: 3vw;
    height: 3vw;
    border-radius: 50%;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: transparent;
    color: var(--text-color);
    transition: .5s;
    display: block;
}

#delete_topics span {
    font-size: 2vw;
    transform: translateY(5%);
    transition: .5s;
}

#delete_topics:hover {
    background-color: #2f2f2f5d;
    transition: .5s;
}

#delete_topics:hover span {
    color: var(--warning);
    transition: .5s;
}

#delete_topic_overlay {
    background-color: var(--primary);
    position: absolute;
    top: 0;
    left: 5vw;
    z-index: 101;
    width: 20vw;
    height: 7vh;
    border-bottom-right-radius: 10px;
    display: none;
}

#cancel_delete_topic {
    font-size: 1.5vw;
    margin-top: .8vw;
    margin-left: 3vw;
    background-color: transparent;
    color: var(--text-color);
    border: none;
    outline: none;
    cursor: pointer;
    transition: .5s;
    font-weight: bold;
}

#delete_delete_topic {
    font-size: 1.5vw;
    margin-top: .8vw;
    margin-left: 1vw;
    background-color: transparent;
    color: var(--text-color);
    border: none;
    outline: none;
    cursor: pointer;
    transition: .5s;
    font-weight: bold;
}

#cancel_delete_topic:hover {
    color: var(--selected-secondary);
    transition: .5s;
}

#delete_delete_topic:hover {
    color: var(--warning);
    transition: .5s;
}

#topic_list {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1; 
    overflow: auto;
    width: 50%;
    height: 41vw;
    margin-top: .5vw;
}

#topic_list::-webkit-scrollbar {
    width: 5px;
}

#topic_list::-webkit-scrollbar-track {
    background: transparent;
}

#topic_list::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 50px;
    width: 5px;;
}

#topic_list::-webkit-scrollbar-thumb:hover {
    background: #555;
}

#h3_courses {
    font-size: 2vw;
    text-align: center;
    border-top: 3px solid var(--primary);
    width: 95%;
    margin-left: 2.5%;
    margin-top: 1vw;
    padding-top: .5vw;
}

#vocab_of_the_week {
    background-color: transparent;
    width: 90%;
    height: 6vw;
    margin-left: 2.5vw;
    display: flex;
    border-radius: 8px;
    cursor: pointer;
    transition: .5s;
}

#vocab_of_the_week h3 {
    font-size: 2vw;
    align-self: start;
    margin-left: 2.8vw;
    margin-top: 1vw;
    width: 100vw;
}

#vocab_of_the_week p {
    font-size: 1.2vw;
    align-self: end;
    margin-left: -35vw;
    margin-bottom: 1vw;
    width: 100vw;
}

#vocab_of_the_week span {
    font-size: 3.5vw;
    align-self: center;
    margin-left: 1vw;
}

#vocab_of_the_week:hover {
    background-color: var(--selected-primary);
    transition: .5s;
}

#vocab_list_display {
    width: 50%;
    height: 100vh;
    background-color: var(--primary);
    position: absolute;
    top: 0;
    left: 50%;
    align-self: start;
    display: flex;
    grid-column: 1 / span 1;
    grid-row: 1 / span 1; 
}

#vocab_list_display_topic {
    font-size: 2vw;
    position: relative;
    top: 2vw;
    width: 100%;
    height: 2.5vw;
    left: 12%;
    text-align: center;
}

#add_vocab {
    height: 5vh;
    width: 3.5vw;
    position: relative;
    top: 2vw;
    left: 2vw;
    background-color: transparent;
    border-radius: 50%;
    border: none;
    outline: none;
    cursor: pointer;
    transition: .5s;
    z-index: 101;
}

#add_vocab span {
    font-size: 2vw;
    color: var(--text-color);
    transform: translateY(3%);
    transition: .5s;
}

#add_vocab:hover {
    background-color: #1c1c1ca1;
    transition: .5s;
}

#add_vocab:hover span {
    color: var(--selected-secondary);
    transition: .5s;
}

#delete_vocab {
    height: 5vh;
    width: 3.5vw;
    position: relative;
    top: 2vw;
    left: 2.5vw;
    background-color: transparent;
    border-radius: 50%;
    border: none;
    outline: none;
    cursor: pointer;
    transition: .5s;
    z-index: 101;
}

#delete_vocab span {
    font-size: 2vw;
    color: var(--text-color);
    transform: translateY(3%);
    transition: .5s;
}

#delete_vocab:hover {
    background-color: #1c1c1ca1;
    transition: .5s;
}

#delete_vocab:hover span {
    color: var(--warning);
    transition: .5s;
}

#delete_vocab_win {
    position: absolute;
    top: 30%;
    left: 31%;
    width: 31.46vw;
    height: 26.67vh;
    background-color: var(--primary);
    border-radius: 8px;
    z-index: 103;
    display: none;
}

#delete_vocab_win h3 {
    font-size: 2vw;
    text-align: center;
    position: relative;
    top: 1vh;
}

#close_delete_vocab_win {
    width: 3vw;
    height: 3vw;
    border-radius: 50%;
    position: relative;
    left: 89%;
    bottom: 15%;
    color: var(--text-color);
    background-color: transparent;
    cursor: pointer;
    transition: .5s;
    border: none;
    outline: none;
}

#close_delete_vocab_win span {
    transform: translateY(5%);
    font-size: 1.5vw;
    transition: .5s;
}

#close_delete_vocab_win:hover {
    background-color: #1c1c1ca1;
    transition: .5s;
}

#close_delete_vocab_win:hover span {
    color: var(--selected-secondary);
    transition: .5s;
}

#delete_select {
    padding: 10px;
    font-size: 1.5vw;
    position: relative;
    top: 2vw;
    left: 2vw;
    width: 21vw;
    border-radius: 6px;
    border: 2px solid var(--primary);
    outline: none;
    background-color: var(--alt-primary);
    color: var(--text-color);
    cursor: pointer;
}

#delete_btn {
    font-size: 1.5vw;
    background-color: var(--secondary);
    color: var(--text-color);
    padding: 10px;
    border-radius: 6px;
    border: none;
    position: relative;
    top: 3.5vw;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    transition: .5s;
    cursor: pointer;
}

#delete_btn:hover {
    background-color: var(--selected-secondary);
    transition: .5s; 
}

#vocab_container {
    font-size: 2vw;
    background-color: transparent;
    resize: none;
    width: 200%;
    height: 75%;
    color: var(--text-color);
    position: relative;
    top: 10vw;
    right: 23.5vw;
    outline: none;
    border: none;
    text-align: center;
}

#vocab_container::-webkit-scrollbar {
    width: 5px;
}

#vocab_container::-webkit-scrollbar-track {
    background: transparent;
}

#vocab_container::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 50px;
    width: 5px;;
}

#vocab_container::-webkit-scrollbar-thumb:hover {
    background: #555;
}

#add_topic_win {
    position: absolute;
    top: 30%;
    left: 31%;
    width: 31.46vw;
    height: 26.67vh;
    background-color: var(--primary);
    border-radius: 8px;
    z-index: 103;
    display: none;
}

#add_topic_win h3 {
    font-size: 2vw;
    text-align: center;
    position: relative;
    top: 1vh;
}

#close_add_topic {
    width: 3vw;
    height: 3vw;
    border-radius: 50%;
    position: relative;
    left: 88%;
    bottom: 13%;
    color: var(--text-color);
    background-color: transparent;
    cursor: pointer;
    transition: .5s;
    border: none;
    outline: none;
}

#close_add_topic span {
    transform: translateY(5%);
    font-size: 1.5vw;
    transition: .5s;
}

#close_add_topic:hover {
    background-color: #1c1c1ca1;
    transition: .5s;
}

#close_add_topic:hover span {
    color: var(--selected-secondary);
    transition: .5s;
}

#topic_input {
    font-size: 1vw;
    justify-self: center;
    width: 13vw;
    border-radius: 6px;
    border: 2px solid var(--primary);
    background-color: var(--alt-primary);
    color: var(--text-color);
    padding: 10px;
    padding-right: 5vw;
    position: relative;
    top: 1vw;
    left: 3vw;
    outline: none;
}

#select_image {
    font-size: 1vw;
    background-color: var(--secondary);
    color: var(--text-color);
    padding: 10px;
    border-radius: 6px;
    border: none;
    position: relative;
    top: 2vw;
    left: 6.4vw;
    display: flex;
    align-items: center;
    transition: .5s;
    cursor: pointer;
}

#select_image span {
    font-size: 1.5vw;
    margin-right: .5vw;
    transform: translateY(2%);
}

#select_image:hover {
    background-color: var(--selected-secondary);
    transition: .5s;
}

#add_topic_btn {
    font-size: 1vw;
    background-color: var(--secondary);
    color: var(--text-color);
    padding: 10px;
    padding-bottom: 14px;
    border-radius: 6px;
    border: none;
    position: relative;
    top: -.5vw;
    left: 72%;
    width: 8vw;
    transform: translateX(-72%);
    transform-origin: center;
    transition: .5s;
    cursor: pointer;
    text-align: center;
}

#add_topic_btn:hover {
    background-color: var(--selected-secondary);
    transition: .5s; 
}

#add_vocab_win {
    position: absolute;
    top: 30%;
    left: 31%;
    width: 31.46vw;
    height: 26.67vh;
    background-color: var(--primary);
    border-radius: 8px;
    z-index: 103;
    display: none;
}

#add_vocab_win h3 {
    font-size: 2vw;
    text-align: center;
    position: relative;
    top: 1vh;
}

#close_add_vocab_win {
    width: 3vw;
    height: 3vw;
    border-radius: 50%;
    position: relative;
    left: 88%;
    bottom: 13%;
    color: var(--text-color);
    background-color: transparent;
    cursor: pointer;
    transition: .5s;
    border: none;
    outline: none;
}

#close_add_vocab_win span {
    transform: translateY(5%);
    font-size: 1.5vw;
    transition: .5s;
}

#close_add_vocab_win:hover {
    background-color: #1c1c1ca1;
    transition: .5s;
}

#close_add_vocab_win:hover span {
    color: var(--selected-secondary);
    transition: .5s;
}

#german_input {
    font-size: 1vw;
    justify-self: center;
    width: 8vw;
    border-radius: 6px;
    border: 2px solid var(--primary);
    background-color: var(--alt-primary);
    color: var(--text-color);
    padding: 10px;
    padding-right: 5vw;
    position: absolute;
    top: 4vw;
    left: 1.5vw;
    outline: none;
}

#english_input {
    font-size: 1vw;
    justify-self: center;
    width: 8vw;
    border-radius: 6px;
    border: 2px solid var(--primary);
    background-color: var(--alt-primary);
    color: var(--text-color);
    padding: 10px;
    padding-right: 5vw;
    position: absolute;
    top: 4vw;
    left: 16.37vw;
    outline: none;
}

#add_word_pair {
    font-size: 1vw;
    background-color: var(--secondary);
    color: var(--text-color);
    padding: 10px;
    border-radius: 6px;
    border: none;
    position: relative;
    top: 3vw;
    left: 35%;
    display: flex;
    align-items: center;      
    transform-origin: center;
    transition: .5s;
    cursor: pointer;
}

#add_word_pair:hover {
    background-color: var(--selected-secondary);
    transition: .5s; 
}

#background {
    background-color: #000000;
    opacity: 25%;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 102;
    display: none;
}

#user {
    position: absolute;
    top: 2vw;
    right: 1.7vw;
    width: 5vw;
    height: 5vw;
    border-radius: 50%;
    border: 5px solid var(--secondary);
    box-shadow: 1px 8px 19px -8px rgba(255,255,255,0.23);
    cursor: pointer;
    grid-column: 1 / span 1;
    grid-row: 1 / span 1; 
    display: none;
}