@import url('https://fonts.googleapis.com/css2?family=MuseoModerno&family=Quicksand&family=Roboto&display=swap');

* {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}

body {
    background-color: var(--background);
    color: var(--text-color);
    overflow-x: hidden;
    overflow-y: hidden;
}

#register_container {
    height: 80vh;
    width: 30vw;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: var(--primary);
    border-radius: 0px 10px 10px 0px;
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-70%, -50%);
}

#register_container h3 {
    font-size: 3vw;
    position: absolute;
    left: 10%;
    top: 2vh;
}

#logo {
    width: 5vw;
    position: absolute;
    left: 80%;
    top: 3%;
    border-radius: 11px;
}

#email_input {
    font-size: 1.7vw;
    width: 23vw;
    margin-top: 14vh;
    margin-left: 10%;
    border-radius: 6px;
    border-bottom: 2px solid var(--disabled);
    border-right: none;
    border-top: none;
    border-left: none;
    background-color: var(--alt-primary);
    color: var(--text-color);
    padding: 10px;
    outline: none;
    transition: .5s;
}   

#email_input:focus {
    border-left: 2px solid var(--secondary);
    transition: .1s;
}

#username_input {
    font-size: 1.7vw;
    width: 23vw;
    margin-top: 1vh;
    margin-left: 10%;
    border-radius: 6px;
    border-bottom: 2px solid var(--disabled);
    border-right: none;
    border-top: none;
    border-left: none;
    background-color: var(--alt-primary);
    color: var(--text-color);
    padding: 10px;
    outline: none;
    transition: .5s;
}

#username_input:focus {
    border-left: 2px solid var(--secondary);
    transition: .1s;
}

#pw {
    display: flex;
    align-items: center;
    margin-top: 1vh;
    margin-left: 10%;
}

#password_input {
    font-size: 1.7vw;
    width: 20vw;
    border-radius: 6px 0px 0px 6px;
    border-right: none;
    border-left: none;
    border-top: none;
    border-bottom: 2px solid var(--disabled);
    background-color: var(--alt-primary);
    color: var(--text-color);
    padding: 10px;
    outline: none;
}

#password_input:focus {
    border-left: 2px solid var(--secondary);
    transition: .1s;
}

#show_pw {
    height: calc(100% - 4px);
    border-radius: 0px 6px 6px 0px;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 2px solid var(--disabled);
    background-color: var(--alt-primary);
    color: var(--text-color);
    padding: 10px;
    outline: none;
    cursor: pointer;
    margin-left: -.1vw;
    transition: .5s;
}

#show_pw span {
    font-size: 2vw;
}

#show_pw:hover {
    color: var(--selected-secondary);
    transition: .5s;
}

#hide_pw {
    height: calc(100% - 4px);
    border-radius: 0px 6px 6px 0px;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 2px solid var(--disabled);
    background-color: var(--alt-primary);
    color: var(--text-color);
    padding: 10px;
    outline: none;
    cursor: pointer;
    margin-left: -.1vw;
    transition: .5s;
    display: none;
}

#hide_pw span {
    font-size: 2vw;
}

#hide_pw:hover {
    color: var(--selected-secondary);
    transition: .5s;
}

#error_msg {
    font-size: 1.5vw;
    background-color: rgba(167, 0, 0);
    width: 29.95vw;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 10px;
    border: 2px solid red;
    position: absolute;
    top: 5%;
    right: -35%;
    font-weight: bold;
    z-index: 50;
    transition: .2s;
}

#error_msg_undefined {
    font-size: 1.5vw;
    background-color: rgba(167, 0, 0);
    width: 29.95vw;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 10px;
    border: 2px solid red;
    position: absolute;
    top: 5%;
    right: -35%;
    font-weight: bold;
    z-index: 50;
    transition: .2s;
}

#sign_in {
    background-color: var(--secondary);
    width: 20vw;
    height: 80vh;
    border-radius: 10px 0px 0px 10px;
    border-right: var(--selected-secondary) 2px solid;
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(44%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#sign_in h3 {
    font-size: 2vw;
    margin-bottom: 2vh;
}

#register_switch {
    font-size: 1vw;
    padding: 1vw;
    padding-left: 2.5vw;
    padding-right: 2.5vw;
    border-radius: 50px;
    outline: none;
    border: var(--text-color) .2vw solid;
    background-color: transparent;
    color: var(--text-color);
    font-weight: bold;
    cursor: pointer;
    transition: .5s;
}

#register_switch:hover {
    background-color: #ffffff7d;
    transition: .5s;
}

.select {
    font-size: 1.7vw;
    width: 24vw;
    margin-top: 1vh;
    margin-left: 10%;
    border-radius: 6px;
    border-bottom: 2px solid var(--disabled);
    border-right: none;
    border-top: none;
    border-left: none;
    background-color: var(--alt-primary);
    color: var(--text-color);
    padding: 10px;
    outline: none;
    transition: .5s;
}

.school-search-input {
    font-size: 1.7vw;
    width: 23vw;
    margin-top: 1vh;
    margin-left: 10%;
    border-radius: 6px;
    border-bottom: 2px solid var(--disabled);
    border-right: none;
    border-top: none;
    border-left: none;
    background-color: var(--alt-primary);
    color: var(--text-color);
    padding: 10px;
    outline: none;
    transition: .5s;
}

.search-output {
    width: 23vw;
    max-height: 20vh;
    background-color: var(--alt-primary);
    color: var(--text-color);
    position: absolute;
    z-index: 101;
    margin-left: 10%;
    padding: 10px;
    display: none;
    border-radius: 0px 0px 6px 6px;
    overflow-y: auto;
    overflow-x: hidden;
}

.search-output::-webkit-scrollbar {
    width: 5px;
}

.search-output::-webkit-scrollbar-track {
    background: transparent;
}

.search-output::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 50px;
    width: 5px;;
}

.search-output::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.school-button {
    width: max-content;
    margin-left: 50%;
    margin-top: 1vh;
    margin-bottom: 1vh;
    transform: translateX(-50%);
    font-size: 1.5vw;
    background: transparent;
    color: var(--text-color);
    border: none;
    cursor: pointer;
    transition: .5s;
}

.school-button:hover {
    color: var(--secondary);
    transition: .5s;
}

#remember_div {
    margin-top: 1vh;
    margin-bottom: 1vh;
    display: flex;
}

#remember_checkbox {
    margin-top: .2vh;
}

#remember_div p {
    font-size: 1.8vw;
    margin-left: .5vw;
}

input[type="checkbox"] {
    appearance: none;
    width: 2vw;
    height: 2vw;
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10%;
}

input[type="checkbox"]:checked:after {
    font-family: "Material Symbols Rounded";
    content: "\e876";
    position: relative;
    bottom: .3vh;
    color: #ffffffff;
    font-size: 1.8vw;
}

#register {
    font-size: 2vw;
    padding: 1vw;
    padding-left: 2.5vw;
    padding-right: 2.5vw;
    border-radius: 50px;
    outline: none;
    border: var(--text-color) .2vw solid;
    background-color: transparent;
    color: var(--text-color);
    font-weight: bold;
    cursor: pointer;
    transform: translateX(50%);
    transition: .5s;
    margin-top: 6vh;
}

#register p {
    display: inline;
}

#register span {
    font-size: 2vw;
    transform: translateY(20%);
}

#register:hover {
    background-color: #ffffff7d;
    transition: .5s;
}

#connection_error {
    font-size: 1.5vw;
    background-color: rgba(167, 0, 0);
    width: 29.95vw;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 10px;
    border: 2px solid red;
    position: absolute;
    top: 5%;
    right: -35%;
    font-weight: bold;
    z-index: 50;
    transition: .2s;
}

.popup {
    width: 40vw;
    height: 80vh;
    background: var(--primary);
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    display: none;
}

.tab-bar {
    background-color: var(--secondary);
    height: 10%;
    width: 100%;
    border-radius: 10px 10px 0px 0px;
    border-bottom: 2px solid var(--disabled);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.tab {
    font-size: 1.5vw;
    border-radius: 6px;
    border: none;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: var(--primary);
    color: var(--text-color);
    margin: 5%;
    cursor: pointer;
    transition: .5s;
}

.tab:hover {
    background-color: var(--disabled);
    border-radius: 50px;
    transition: .5s;
}

.selected {
    background-color: var(--disabled);
    border-radius: 50px;
}
    
.view {
    height: 100%;
}

.document-view {
    background-color: var(--alt-primary);
    resize: none;
    border: none;
    width: 90%;
    height: 70%;
    margin-top: 2%;
    margin-left: 5%;
    border-radius: 6px;
    outline: none;
    padding: 5px;
    color: var(--text-color);
}

.document-view::-webkit-scrollbar {
    width: 5px;
}

.document-view::-webkit-scrollbar-track {
    background: transparent;
}

.document-view::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 50px;
    width: 5px;;
}

.document-view::-webkit-scrollbar-thumb:hover {
    background: #555;
}
    
.footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 17%;
}

.button {
    font-size: 2vw;
    border-radius: 6px;
    border: none;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: var(--secondary);
    color: var(--text-color);
    cursor: pointer;
    transition: .5s;
}

.button:hover {
    background-color: var(--selected-secondary);
    transition: .5s;
}

#decline {
    margin-right: 5%;
}

.loader-container {
    position: absolute;
    z-index: 2;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.loader {
    width: 16px;
    height: 16px;
    box-shadow: 0 30px, 0 -30px;
    border-radius: 4px;
    background: currentColor;
    display: block;
    margin: -50px auto 0;
    position: relative;
    color: #FFF;
    transform: translateY(30px);
    box-sizing: border-box;
    animation: animloader 2s ease infinite;
}

.loader::after,
.loader::before {
    content: '';  
    box-sizing: border-box;
    width: 16px;
    height: 16px;
    box-shadow: 0 30px, 0 -30px;
    border-radius: 4px;
    background: currentColor;
    color: #FFF;
    position: absolute;
    left: 30px;
    top: 0;
    animation: animloader 2s 0.2s ease infinite;
}

.loader::before {
    animation-delay: 0.4s;
    left: 60px;
}
  
@keyframes animloader {
    0% {
      top: 0;
      color: white;
    }
    50% {
      top: 30px;
      color: rgba(255, 255, 255, 0.2);
    }
    100% {
      top: 0;
      color: white;
    }
}      