:root {
    --background: #161616;
    --primary: #2F2F2F;
    --secondary: #2C88AF;
    --selected-primary: #454545c7;
    --selected-secondary: #246C89;
    --text-color: #fff;
    --disabled: #767676;
    --alt-primary: #1C1C1C;
    --warning: #ab0000;
    --warning-hover: #8f0000;
}