@import url('https://fonts.googleapis.com/css2?family=MuseoModerno&family=Quicksand&family=Roboto&display=swap');

* {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}

body {
    background-color: var(--background-dark);
    color: var(--text-color);
    overflow-x: hidden;
    overflow-y: hidden;
}

#main_grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    height: 100vh;
    width: 100vw;
    grid-gap: 10px;
    overflow-x: hidden;
    overflow-y: hidden;
}

#nav_bar {
    grid-row: 1;
    grid-column: 1;
    background-color: var(--primary);
    height: 100vh;
    width: 5vw;
    text-align: center;
}

#nav_logo {
    width: 4vw;
    margin-top: .5vw;
    border-radius: 11.52px;
}

#nav_bar button:not(#nav_courses) {
    color: var(--text-color);
    margin-top: 1vh;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    transition: .5s;
}

#nav_courses {
    color: var(--text-color);
    margin-top: 1vh;
    background-color: var(--selected-primary);
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

#nav_bar span {
    font-size: xx-large;
}

#nav_bar p {
    font-size: .8vw;
    text-align: center;
}

#nav_lower {
    position: absolute;
    bottom: 1vh;
    width: 5vw;
}

#nav_bar button:not(#nav_plan):hover {
    background-color: var(--selected-primary);
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    transition: .5s;
}

#nav_bar button#nav_plan:hover {
    background-color: var(--selected-primary);
    border-radius: 5px;
    transition: .5s;
}

#page_content {
    background-color: transparent;
    height: 100vh;
    width: 95vw;
    position: absolute;
    top: 0;
    right: 0;
}